In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

%matplotlib inline

In [2]:
tv_shows=pd.read_csv('tv_shows.csv')
tv_shows.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [3]:
tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

In [6]:
tv_shows['Year']=pd.to_datetime(tv_shows['Year'])

In [7]:
tv_shows.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,1970-01-01 00:00:00.000002008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,1970-01-01 00:00:00.000002016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,1970-01-01 00:00:00.000002013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,1970-01-01 00:00:00.000002015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,1970-01-01 00:00:00.000002017,16+,8.8/10,93/100,1,0,0,0,1